.navbar{
  background:#35424c;
  padding:15px;
  display:flex;
  gap:15px;
  align-items:center;
}

.navbar a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.page{
  padding:20px;
}

.demo-users{
  margin-top:20px;
  background:white;
  padding:15px;
  border-radius:10px;
}